body{
    margin: 0;

}


/* Navigation Bar Styling */
.navbar{
    height: 40px;

}


.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 60px;
    overflow: hidden;
    background-color:#008080;
  }


.navbar li{
    float: left;
    } 


.navbar a{
    display: block;
    color: white;
    height: 40px;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    border-right: 1px solid white;
    font-weight: bold;
    }


.navbar li a:hover {
    background-color: #00A36C;
    height: 40px;
      } 
      
.navbar h2{
    color: white;
    justify-content: center;
    display: flex;
}

      
/* Buttons Area and buttons styling */
.button-area{
    margin: 60px 10% 10px 10%;
    display: flex;
    border-radius: 4px;
    justify-content: center;
  }
    
    
.button-area button{
    background-color: #008080; /* Green */
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
    }


    
.button-area button:hover{
    background-color: #00A36C;

}


/* Panel styling */
.panel{
    margin: 30px 10% 20% 10%;
    display: grid;
    border-radius: 4px;
    }
    
    
/* Table styling */
.panel table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }
    
    
.panel td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    height: 30px;
    }
    
    
  .panel th{
    color: white;
    /* background-color: #0096FF; */
    background-color:#008080;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 40px;
    }
    
    
.panel tr:nth-child(even){
    background-color: whitesmoke;
    }
    
    
.panel a{
    text-decoration: none;
    color: black;
    }

